<div class="h-screen bg-slate-800 text-white">
  <h1 class="text-3xl font-bold underline">Basketball GM</h1>

  <div>
    <p>Click the button below to simulate a game</p>
    <button
      class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
      (click)="simulateGame()">
      Simulate Game
    </button>
  </div>

  <div class="mb-3">
    @if (gameResult()) {
      <div class="mb-2 flex justify-center">
        <h2>{{ gameResult()!.homeTeam.fullName() }} &nbsp;</h2>
        <h2>{{ gameResult()!.homeTeam.stats!.points }} &nbsp;</h2>
        <span class="text-lg"> - &nbsp; </span>
        <h2>{{ gameResult()!.awayTeam.fullName() }} &nbsp;</h2>
        <h2>{{ gameResult()!.awayTeam.stats!.points }} &nbsp;</h2>
      </div>

      <div class="flex justify-center">
        <app-team-ppqtable [game]="gameResult()" />
        <app-four-factors [teams]="gameResult()!.getTeams()" />
      </div>

      <app-stats-table [team]="gameResult()!.homeTeam" />
      <app-stats-table [team]="gameResult()!.awayTeam" />
    } @else {
      <p class="mt-4">No game has been simulated yet</p>
    }
  </div>
</div>

<router-outlet />
