<div class="m-auto w-11/12 text-center">
  <h2>{{ team().fullName() }}</h2>
  <table class="mb-5 w-full table-fixed border-2 border-solid border-black">
    <thead class="border-y-2 border-solid border-black">
      <tr>
        @for (header of headers; track $index) {
          <th class="bg-gray-800 px-2 py-2">
            {{ header }}
          </th>
        }
      </tr>
    </thead>
    <tbody class="border-y-2 border-solid border-black">
      @for (player of team().players; track $index; let i = $index) {
        <tr [ngClass]="i % 2 === 0 ? 'bg-slate-900' : 'bg-gray-800'">
          <td class="px-2 py-1">
            {{ player.firstName }} {{ player.lastName }}
          </td>
          <td class="px-2 py-1">{{ player.position }}</td>
          <td class="px-2 py-1">
            {{ player.stats?.fieldGoalsMade }}/{{
              player.stats?.fieldGoalAttempts
            }}
          </td>
          <td class="px-2 py-1">
            {{
              player.stats!.fieldGoalsMade / player.stats!.fieldGoalAttempts
                | percent: "1.1-1"
            }}
          </td>
          <td class="px-2 py-1">
            {{ player.stats?.threePointMade }}/{{
              player.stats?.threePointAttempts
            }}
          </td>

          <td class="px-2 py-1">{{ player.stats?.points }}</td>
        </tr>
      }
    </tbody>
    <tfoot class="bg-slate-800">
      <tr>
        <td class="px-2 py-1">Totals</td>
        <td class="px-2 py-1"></td>
        <td class="px-2 py-1">
          {{ team().stats!.fieldGoalsMade }}/{{
            team().stats!.fieldGoalAttempts
          }}
        </td>

        <td class="px-2 py-1">
          {{
            team().stats!.fieldGoalsMade / team().stats!.fieldGoalAttempts
              | percent: "1.1-1"
          }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats!.threePointMade }}/{{
            team().stats!.threePointAttempts
          }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats!.points }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
