<div class="m-auto w-11/12 text-center">
  <h2>{{ team().fullName() }}</h2>
  <table class="mb-5 w-full table-fixed border-2 border-solid border-black">
    <thead class="border-y-2 border-solid border-black">
      <tr>
        @for (header of headers; track $index) {
          <th class="bg-gray-800 px-2 py-2">
            {{ header }}
          </th>
        }
      </tr>
    </thead>
    <tbody class="border-y-2 border-solid border-black">
      @for (player of team().players; track $index; let i = $index) {
        <tr [ngClass]="i % 2 === 0 ? 'bg-slate-900' : 'bg-gray-800'">
          <td class="px-2 py-1">
            <button
              (click)="navigateToPlayer(player)"
              class="cursor-pointer text-blue-400 hover:text-blue-300 hover:underline">
              {{ player.firstName }} {{ player.lastName }}
            </button>
          </td>

          <td class="px-2 py-1">{{ player.position }}</td>

          <td class="px-2 py-1">
            {{ player.stats!.minutesPlayed * 1000 | date: "mm:ss" }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats?.fieldGoalsMade }}/{{ player.stats?.fieldGoalAttempts }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.fieldGoalsMade / player.stats!.fieldGoalAttempts | percent: "1.1-1" }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats?.threePointMade }}/{{ player.stats?.threePointAttempts }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.freeThrowsMade }}/{{ player.stats?.freeThrowAttempts }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.offensiveRebounds }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.defensiveRebounds }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.rebounds }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.assists }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.steals }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.blocks }}
          </td>

          <td class="px-2 py-1">
            {{ player.stats!.turnovers }}
          </td>

          <td class="px-2 py-1">{{ player.stats!.points }}</td>

          <td class="px-2 py-1">
            {{ player.stats!.plusMinus }}
          </td>

          <td class="px-2 py-1">
            {{
              player.stats!.points +
                0.4 * player.stats!.fieldGoalsMade +
                0.7 * player.stats!.offensiveRebounds +
                0.3 * player.stats!.defensiveRebounds +
                player.stats!.steals +
                0.7 * player.stats!.assists +
                0.7 * player.stats!.blocks -
                0.7 * player.stats!.fieldGoalAttempts -
                0.4 * (player.stats!.freeThrowAttempts - player.stats!.freeThrowsMade) -
                0.4 * 2.25 -
                player.stats!.turnovers | number: "1.0-0"
            }}
          </td>
        </tr>
      }
    </tbody>
    <tfoot class="bg-slate-800">
      <tr>
        <td class="px-2 py-1">Totals</td>
        <td class="px-2 py-1"></td>
        <td class="px-2 py-1"></td>
        <td class="px-2 py-1">
          {{ team().stats.fieldGoalsMade }}/{{ team().stats!.fieldGoalAttempts }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.fieldGoalsMade / team().stats!.fieldGoalAttempts | percent: "1.1-1" }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.threePointMade }}/{{ team().stats!.threePointAttempts }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.freeThrowsMade }}/{{ team().stats!.freeThrowAttempts }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.offensiveRebounds }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.defensiveRebounds }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.rebounds }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.assists }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.steals }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.blocks }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.turnovers }}
        </td>

        <td class="px-2 py-1">
          {{ team().stats.points }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
